// ------------------------------------------
//  B A S I C   L A Y O U T
// ------------------------------------------

.container {
  width: 1200px;
  margin: 0 auto;
  &-sm {
    width: 900px;
  }
}

// ------------------------------------------
//  M O B I L E
// ------------------------------------------

@media only screen and (max-width: 1200px ) {
  .container {
    width: calc(100% - 60px);
  }
}

@media only screen and (max-width: 992px ) {
  .container {
    width: calc(100% - 50px);
  }
}
