// ------------------------------------------
//  S E C T I O N   N E W S
// ------------------------------------------

.twitter-timeline {
  border-radius: 10px !important;
  border: var(--border-lg) !important;
  overflow: hidden;
}

.sm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sm-icon-bg {
  height: 200px;
  border-radius: var(--border-radius);
  margin-bottom: 30px;
}


@media only screen and (max-width: 992px ) {
  .section__break_sm {
    .container .el-row {
      
    }
  }
}
