// ------------------------------------------
//  S E C T I O N   N E W S 
// ------------------------------------------

.twitter-timeline {
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,.15) !important;
}

.sm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sm-icon-bg {
  height: 200px;
  border-radius: 10px;
  margin-bottom: 30px;
}
