// ------------------------------------------
//  S E C T I O N   S H O W C A S E
//  ---
//  Used in app home pages /app/vendor etc.
// ------------------------------------------

.section--showcase {
  height: 45vw;
  &.mobile {
    height: 800px;
  }
  .mockup {
    position: absolute;
    width: 50%;
    left: -100px;
    height: auto;
    &--right {
      left: auto;
      right: -100px;
    }
    &--mobile {
      right: 55%;
      left: auto;
      width: 500px;
    }
    &--right.mockup--mobile {
      left: 55%;
      right: auto;
    }
  }
  .container, .el-row  {
    position: static;
  }
}

// ------------------------------------------
//  M O B I L E
// ------------------------------------------

@media only screen and (max-width: 1800px ) {
  .section--showcase {
    height: auto;
  }
}

@media only screen and (max-width: 1200px ) {
  .section--showcase {
    .mockup {
      position: absolute;
      width: 66%;
      left: -100px;
      height: auto;
      &--right {
        left: auto;
        right: -100px;
      }
      &--mobile {
        width: 50%;
        left: 0;
        top: 50px;
      }
      &--mobile.mockup--right {
        left: auto;
        right: 0;
      }
    }
  }
}

@media only screen and (max-width: 992px ) {
  .section--showcase {
    .mockup {
      position: relative;
      width: 100%;
      margin-bottom: 50px;
      left: -100px;
      &--right {
        left: auto;
        right: -100px;
      }
      &--mobile {
        width: 60% !important;
        left: 20% !important;
        top: 0 !important;
      }
    }
    &.mobile {
      height: auto;
    }
  }

}


@media only screen and (max-width: 768px ) {
  .section--showcase {
    .mockup {
      position: relative;
      width: 100%;
      margin-bottom: 50px;
      left: -50px;
      &--right {
        left: auto;
        right: -50px;
      }
    }
  }
}
