.app-nav {
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 10;
  width: calc(100% - 100px);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .back-button {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 100%;
    border: 3px solid rgba(0,0,0,.15);
    transition: all 200ms ease-in-out;
    img {
      opacity: .25;
      transition: all 200ms ease-in-out;
    }
    &:hover {
      cursor: pointer;
      background-color: var(--primary);
      img {
        filter: invert(100%);
        opacity: 1;
      }
    }
  }
  .app-menu {
    height: 50px;
    border-radius: 10px;
    display: flex;
    background: var(--white);
    position: relative;
    .app-menu--item {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 30px;
      text-decoration: none;
      font-size: 16px;
      font-weight: 900;
      color: rgba(0,0,0,.5);
      border: 3px solid #E5E5E5;
      transition: all 200ms ease-in-out;
      &:nth-child(1) {
        border-radius: 10px 0 0 10px;
      }
      &:nth-child(2) {
        margin: 0 -3px;
      }
      &:nth-child(3) {
        border-radius: 0 10px 10px 0;
      }
      &:hover, &.active {
        background-color: var(--primary);
        color: var(--white);
        border-color: rgba(0,0,0,.15);
      }
    }
  }
}
