// ------------------------------------------
//  B U T T O N   O V E R W R I T E S
// ------------------------------------------

.el-button {
  border-radius: 100px;
  border: 1px solid rgba(0,0,0,.15);
  font-weight: 700;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  font-family: 'Nunito';
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 15px 40px;
  &--primary {
    background-color: #69BAE8;
  }
}
