// ------------------------------------------
//  C A R D   S T Y L E S
// ------------------------------------------

.card {
  background-color: var(--white);
  padding: 30px;
  border-radius: 10px;
  border: 3px solid rgba(0,0,0,.15);
  color: var(--dark);
  img {
    height: 180px;
  }
  p {
    margin-bottom: 0;
    margin-top: 0;
  }
  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

}

.medium-card {
  text-decoration: none;
  color: var(--dark);
}

.el-card {
  border: 3px solid rgba(0,0,0,.15);
  box-shadow: none;
  border-radius: 10px;
  img {
    width: 100%;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    padding: 15px 20px 20px 20px;
  }
  &:hover {
    background-color: #f5f8fa;
  }
  .active {
    margin-top: 100px;
  }
}

.twitter-timeline {
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,.15) !important;
}

.sm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sm-icon-bg {
  height: 200px;
  border-radius: 10px;
  margin-bottom: 30px;
}
