// ------------------------------------------
//  C A R D   S T Y L E S
// ------------------------------------------

.card {
  background-color: var(--white);
  padding: 30px;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,.15);
  img {
    height: 200px;
  }
  p {
    margin-bottom: 0;
  }
}

.el-card {
  border: none;
  img {
    width: 100%;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    padding: 15px 20px 20px 20px;
  }
}

.sm-icon-bg {
  height: 100px;
  border-radius: 10px;
  margin-bottom: 30px;
}
