footer {
  background-color: var(--dark);
  color: var(--white);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  span {
    display: flex;
    align-items: center;
  }
  img {
    height: 16px;
    margin: 0 5px;
  }
}
