footer {
  background-image: linear-gradient(to right bottom, #081c1d, #0a2223, #0c2829, #0d2f2f, #0f3535);
  color: var(--white);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  span {
    display: flex;
    align-items: center;
  }
  img {
    height: 16px;
    margin: 0 5px;
  }
}
