footer {
  background-color: var(--dark);
  color: var(--white);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  a {
    display: flex;
    color: var(--white_50);
    text-decoration: none;
    align-items: center;
    transition: all 300ms ease-in-out;
    &:hover {
      color: var(--white);
    }
  }
  img {
    height: 16px;
    margin: 0 5px;
  }
}
