// ------------------------------------------
//  N A V I G A T I O N
// ------------------------------------------

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  box-shadow: 0 3px 6px rgba(0,0,0,.15);
  transition: all 200ms ease-in-out;
  .menu-btn {
    display: none;
  }
  .nav-menu {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .nav-item {
    position: relative;
    overflow: hidden;
    height: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--dark);
    text-decoration: none;
    opacity: .75;
    transition: all 200ms ease-in-out;
    &--logo {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 15px;
      padding-right: 15px;
      opacity: 1;
      .nile-typo {
        height: 32px;
        filter: invert(100%);
        transition: all 200ms ease-in-out;
      }
      .logo-wrapper {
        height: 40px;
        width: 40px;
        border-radius: 100px;
        margin-right: 20px;
        position: relative;
        filter: invert(100%);
        transition: all 200ms ease-in-out;
        img.logo {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          transition: all 200ms ease-in-out;
          &.logo-rotation-1 {
            opacity: 1 !important;
          }
          &.logo-rotation-2 {
            opacity: .1 !important;
          }
          &.logo-rotation-3 {
            opacity: .1 !important;
          }
          &.logo-rotation-4 {
            opacity: .1 !important;
          }
        }
      }
    }
    &:before {
      content: '';
      position: absolute;
      bottom: -5px;
      height: 10px;
      width: 0;
      border-radius: 10px;
      transition: all 200ms ease-in-out;
    }
    &:hover, &.active {
      opacity: 1;
      background-color: rgba(0,0,0,.05);
      color: var(--secondary-2);
      &:before {
        content: '';
        position: absolute;
        bottom: -5px;
        height: 10px;
        width: 50px;
        border-radius: 10px;
        background-color: var(--secondary-2);
      }
    }
    &:hover {
      cursor: pointer;
      &:before {
        width: 10px;
      }
    }
  }
  &.top {
    background-color: rgba(0,0,0,.1);
    box-shadow: none;
    .nav-item {
      color: var(--white);
      &--logo {
        .logo-wrapper {
          filter: invert(0%);
        }
        .nile-typo {
          filter: invert(0%);
        }
      }
      &:hover, &.active {
        background-color: rgba(255,255,255,.1);
      }
    }
  }
}

img.logo.logo-rotation-2 {
  opacity: .2;
}

img.logo.logo-rotation-3 {
  opacity: .2;
}

img.logo.logo-rotation-4 {
  opacity: .2;
}

// ------------------------------------------
//  M O B I L E
// ------------------------------------------

@media only screen and (max-width: 1100px ) {
  .main-nav {
    .nav-menu {
      .nav-item {
        padding: 0 40px;
      }
    }
  }
}

@media only screen and (max-width: 992px ) {
  .main-nav {
    &.open {
      background-color: var(--dark);
    }
    .menu-btn-container {
      height: 70px;
      width: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 300ms ease-in-out;
      .menu-btn {
        position: relative;
        height: 29px;
        width: 29px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 300ms cubic-bezier(.17,.67,.65,1.34);
        span {
          position: absolute;
          height: 3px;
          width: 100%;
          background-color: var(--white);
          border-radius: 5px;
          transition: all 300ms cubic-bezier(.17,.67,.65,1.34);
        }
        .top {
          top: 5px;
        }
        .bottom {
          bottom: 5px;
        }
      }
      &.open {
        background-color: rgba(255,255,255,.1);
        .menu-btn {
          transform: rotate(180deg);
        }
        .center {
          width: 3px;
        }
        .top {
          transform: rotate(45deg);
          top: 13px;
        }
        .bottom {
          transform: rotate(-45deg);
          bottom: 13px;
        }
      }
      &:hover {
        cursor: pointer;
        background-color: rgba(255,255,255,.1);
        .center {
          width: 15px;
        }
        .top, .bottom {
          width: 25px;
        }
      }
      &.open:hover {
        .center {
          width: 3px;
        }
      }
      &.normal {
        span {
          background-color: var(--dark);
        }
        &:hover {
          background-color: rgba(0,0,0,.1);
        }
      }
    }
    .nav-menu {
      display: none;
      .nav-item {
        height: 100px;
        border-bottom: 1px solid rgba(255,255,255,.15);
        &:first-child {
          border-top: 1px solid rgba(255,255,255,.15);
        }
        &:before {
          left: -5px;
          bottom: auto;
          width: 10px;
          height: 50px;
        }
      }
      &.open {
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
        height: calc(100vh - 70px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        background-color: var(--dark);
      }
      &.normal {
        background-color: var(--white);
        .nav-item {
          border-bottom: 1px solid rgba(0,0,0,.15);
          &:first-child {
            border-top: 1px solid rgba(0,0,0,.15);
          }
        }
      }
    }
  }
}
