// ------------------------------------------
//  B A S I C   S E C T I O N S
// ------------------------------------------

.section {
  padding: 100px 0;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background-color: var(--white);
  &__light {
    background-color: #f5f8fa;
  }
  &__dark {
    background-color: var(--dark);
    color: var(--white);
  }
  &__primary {
    background-image: linear-gradient(to right bottom, #0b5d9e, #0074a9, #0089ae, #2e9db0, #5ab0b2);
    color: var(--white);
  }
  &__secondary {
    background-image: linear-gradient(to right bottom, #139b48, #48a84f, #69b558, #86c263, #a2cf6f);
    color: var(--white);
  }
  &__border-top {
    border-top: 1px solid rgba(0,0,0,.15);
  }
}

@media only screen and (max-width: 1200px ) {

}

@media only screen and (max-width: 992px ) {
  .mobile-align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobile-mb-50 {
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 768px ) {

}

@media only screen and (max-width: 520px) {
  .section {
    padding: 30px 0;
  }
}

// ------------------------------------------
//  S E C T I O N   H E R O
// ------------------------------------------

.section--hero {
  height: 100vh;
  background-position: center;
  background-size: cover;
  color: var(--white);
  padding-top: 170px;
  overflow: hidden;
  .container {
    position: relative;
    z-index: 5;
  }
  .earth-wrapper {
    position: absolute;
    bottom: -250px;
    right: -250px;
    height: 1000px;
    width: 1000px;
  }
  .earth {
    width: 100%;
  }
  .hero-divider {
    position: absolute;
    bottom: -20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .divider {
      width: 100%;
    }
    .scroll-down {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: .5;
      transition: all 200ms ease-in-out;
      span {
        margin-bottom: 5px;
        font-weight: 900;
      }
      .caret {
        animation: MoveUpDown 500ms alternate infinite;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}

@-webkit-keyframes MoveUpDown {
    0% { transform: translateY(0); }
    100% { transform: translateY(5px); }
}
@keyframes MoveUpDown {
    0% { transform: translateY(0); }
    100% { transform: translateY(5px); }
}

@media only screen and (max-width: 1200px ) {
  .section--hero {
    .hero-divider {
      bottom: -10px;
      .scroll-down {
        bottom: 40px;
        opacity: 1;
      }
    }
    .earth-wrapper {
      height: 800px;
      width: 800px;
    }
  }
}

@media only screen and (max-width: 992px ) {
  .section--hero {
    .hero-divider {
      bottom: -1px;
    }
  }
}

@media only screen and (max-width: 768px ) {
  .section--hero {
    .earth-wrapper {
      height: 600px;
      width: 600px;
    }
  }
}

@media only screen and (max-width: 568px) {
  .section--hero {
    padding-top: 90px;
    padding-bottom: 80px;
    min-height: 100vh;
    height: auto;
    .el-button {
      display: none;
    }
    .earth-wrapper {
      height: 450px;
      width: 450px;
    }
  }
}


// ------------------------------------------
//  S E C T I O N   H E R O   S M
//  ---
//  Used in app home pages /app/vendor etc.
// ------------------------------------------

.section--hero__sm {
  height: 600px;
  padding-bottom: 0;
  display: flex;
  align-items: flex-end;
  .container {
    position: relative;
    z-index: 2;
    .avatar-container {
      width: 350px;
      background-color: white;
      border-radius: 200px 200px 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px;
      padding-bottom: 0;
      box-sizing: border-box;
      img {
        width: 250px;
      }
    }
  }
}

// ------------------------------------------
//  S E C T I O N   S H O W C A S E
//  ---
//  Used in app home pages /app/vendor etc.
// ------------------------------------------

.section--showcase {
  height: 890px;
  .mockup {
    position: absolute;
    left: -170px;
    height: 690px;
    &--right {
      left: auto;
      right: -170px;
    }
  }
  .container, .el-row  {
    position: static;
  }

}

// ------------------------------------------
//  S E C T I O N   U S E   C A S E
// ------------------------------------------

.section--use-case {
  color: var(--dark);
  img {
    border-radius: 100%;
    width: 500px;
  }
  hr {
    border-color: rgba(0,0,0,.05);
  }
  .flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .el-collapse {
    border: none;
    margin-left: 40px;
    .el-collapse-item__wrap {
      background-color: transparent;
      border-bottom: none;
    }
    .el-collapse-item {
      margin-bottom: 30px;
      &__header {
        position: relative;
        border: none;
        font-size: 24px;
        font-weight: 700;
        background-color: transparent;
        display: flex;
        align-items: center;
        h4 {
          margin-bottom: 0;
        }
        i {
          display: none;
        }
      }
      &__content {
        font-size: 16px;
        line-height: 1.5;
      }
      .counter {
        position: absolute;
        left: -40px;
        height: 40px;
        width: 40px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--dark);
        background-color: rgba(0,0,0,.05);
        transition: all 200ms ease-in-out;
      }
      &.is-active {
        .counter {
          background-color: #69BAE8;
          color: var(--white);
        }
      }
    }
  }
}



@media only screen and (max-width: 1200px ) {
  .section--use-case {
    img {
      width: 400px;
    }
    .el-row {
      display: flex;
    }
  }
}

@media only screen and (max-width: 992px ) {
  .section--use-case {
    img {
      width: 300px;
      margin-bottom: 50px;
    }
    .el-row {
      display: flex;
      flex-direction: column;
      &.flex-reverse-mobile {
        flex-direction: column-reverse;
      }
      .just-center-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .button-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .el-button--primary {
        margin-bottom: 30px;
      }
      .el-button {
        margin-left: 0;
        margin-bottom: 15px;
      }
    }
    .el-collapse-item__header {
      h4 {
        width: 100%;
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 0;
        .counter {
          top: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px ) {

}

@media only screen and (max-width: 568px) {

}
