// ------------------------------------------
//  B A S I C   S E C T I O N S
// ------------------------------------------

.section {
  padding: 100px 0;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background-color: var(--white);
  &__light {
    background-color: #f5f8fa;
  }
  &__dark {
    background-color: var(--dark);
    color: var(--white);
  }
  &__primary {
    background-image: linear-gradient(to right bottom, #0b5d9e, #0074a9, #0089ae, #2e9db0, #5ab0b2);
    color: var(--white);
  }
  &__secondary {
    background-image: linear-gradient(to right bottom, #139b48, #48a84f, #69b558, #86c263, #a2cf6f);
    color: var(--white);
  }
}

// ------------------------------------------
//  S E C T I O N   H E R O
// ------------------------------------------

.section--hero {
  height: 100vh;
  background-position: center;
  background-size: cover;
  color: var(--white);
  padding-top: 170px;
  overflow: hidden;
  .earth-wrapper {
    position: absolute;
    bottom: -250px;
    right: -250px;
    height: 1000px;
    width: 1000px;
  }
  .earth {
    width: 100%;
  }
  .hero-divider {
    position: absolute;
    bottom: -20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .divider {
      width: 100%;
    }
    .scroll-down {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: .5;
      transition: all 200ms ease-in-out;
      span {
        margin-bottom: 5px;
        font-weight: 900;
      }
      .caret {
        animation: MoveUpDown 500ms alternate infinite;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}

@-webkit-keyframes MoveUpDown {
    0% { transform: translateY(0); }
    100% { transform: translateY(5px); }
}
@keyframes MoveUpDown {
    0% { transform: translateY(0); }
    100% { transform: translateY(5px); }
}

// ------------------------------------------
//  S E C T I O N   U S E   C A S E
// ------------------------------------------

.section--use-case {
  img {
    width: 500px;
  }
  hr {
    border-color: rgba(0,0,0,.05);
  }
  .flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
}

// ------------------------------------------
//  S E C T I O N   U S E   C A S E S
// ------------------------------------------
.section--use-case {
  img {
    border-radius: 100%;
  }
  color: var(--dark);
}
.el-collapse {
  border: none;
  margin-left: 40px;
  .el-collapse-item__wrap {
    background-color: transparent;
    border-bottom: none;
  }
  .el-collapse-item {
    margin-bottom: 30px;
    &__header {
      position: relative;
      border: none;
      font-size: 24px;
      font-weight: 700;
      background-color: transparent;
      i {
        display: none;
      }
    }
    &__content {
      font-size: 16px;
      line-height: 1.5;
    }
    .counter {
      position: absolute;
      left: -40px;
      height: 40px;
      width: 40px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--dark);
      background-color: rgba(0,0,0,.05);
      transition: all 200ms ease-in-out;
    }
    &.is-active {
      .counter {
        background-color: #69BAE8;
        color: var(--white);
      }
    }
  }
}
