// ------------------------------------------
//  A C C O R D I O N
// ------------------------------------------

.el-collapse {
  margin-left: 40px;
  border: none;
  .el-collapse-item__wrap {
    background-color: transparent;
    border-bottom: none;
  }
  .el-collapse-item {
    margin-bottom: 30px;
    &__header {
      position: relative;
      display: flex;
      align-items: center;
      background-color: transparent;
      border: none;
      font-size: 24px;
      font-weight: 700;
      h4 {
        color: var(--dark);
        margin-bottom: 0;
      }
      i {
        display: none;
      }
    }
    &__content {
      font-size: 16px;
      line-height: 1.5;
    }
    .counter {
      position: absolute;
      left: -40px;
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--black_5);
      border-radius: 100%;
      color: var(--dark);
      transition: var(--transition-200);
    }
    &.is-active {
      .counter {
        background-color: var(--primary);
        color: var(--white);
      }
    }
  }
}

// ------------------------------------------
//  M O B I L E
// ------------------------------------------

@media only screen and (max-width: 992px) {
  .el-collapse-item__header {
    h4 {
      width: 100%;
      font-size: 20px;
      line-height: 1.2;
      margin-bottom: 0;
      .counter {
        top: 0;
      }
    }
  }
}
