// ------------------------------------------
//  C A R D   S T Y L E S
// ------------------------------------------

.card {
  padding: 30px;
  background-color: var(--white);
  border: var(--border-lg);
  border-radius: 10px;
  color: var(--dark);
  text-decoration: none;
  img {
    height: 180px;
  }
  p {
    margin-bottom: 0;
    margin-top: 0;
  }
  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.el-card {
  border: var(--border-lg);
  border-radius: var(--border-radius);
  box-shadow: none;
  color: var(--dark);
  text-decoration: none;
  transition: var(--transition-200);
  img {
    width: 100%;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    padding: 15px 20px 20px 20px;
  }
  &:hover {
    background-color: var(--light);
  }
  .active {
    margin-top: 100px;
  }
}

// ------------------------------------------
//  M O B I L E
// ------------------------------------------

@media only screen and (max-width: 992px ) {
  .card {
    margin-bottom: 30px;
  }
}
