// ------------------------------------------
//  S C R O L L B A R
// ------------------------------------------

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--darker);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #69BAE8;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4db3ff;
}
