// ------------------------------------------
//  A P P   N A V I G A T I O N
//  Used in /app/vendor, /app/customer, /app/
// ------------------------------------------

.app-nav {
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 10;
  height: 50px;
  width: calc(100% - 100px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .back-button {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 100%;
    border: var(--border-lg);
    transition: var(--transition-200);
    img {
      opacity: .25;
      transition: var(--transition-200);
    }
    &:hover {
      cursor: pointer;
      background-color: var(--primary);
      img {
        filter: invert(100%);
        opacity: 1;
      }
    }
  }
  .app-menu {
    position: relative;
    height: 50px;
    display: flex;
    border-radius: var(--border-radius);
    background: var(--white);
    .app-menu--item {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 30px;
      border: var(--border-lg_colored);
      color: var(--black_50);
      font-size: 16px;
      font-weight: 900;
      text-decoration: none;
      transition: var(--transition-200);
      &:nth-child(1) {
        border-radius: var(--border-radius) 0 0 var(--border-radius);
      }
      &:nth-child(2) {
        margin: 0 -3px;
      }
      &:nth-child(3) {
        border-radius: 0 var(--border-radius) var(--border-radius) 0;
      }
      &:hover, &.active {
        background-color: var(--primary);
        color: var(--white);
        border-color: var(--black_15);
      }
    }
  }
}

// ------------------------------------------
//  M O B I L E
// ------------------------------------------

@media only screen and (max-width: 992px ) {
  .app-nav {
    top: 30px;
    left: 30px;
    width: calc(100% - 60px);
  }
}

@media only screen and (max-width: 568px) {
  .app-nav {
    top: 20px;
    left: 20px;
    width: calc(100% - 40px);
    height: 40px;
    .back-button {
      height: 40px;
      width: 40px;
    }
    .app-menu {
      height: 40px;
      .app-menu--item {
        padding: 0 15px;
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .app-nav {
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: 30px;
    .back-button {
      height: 30px;
      width: 30px;
    }
    .app-menu {
      height: 30px;
      .app-menu--item {
        font-size: 14px;
        padding: 0 10px;
      }
    }
  }
}
