@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin-top: 0;
  font-size: 62px;
  margin-bottom: 0;
  line-height: 1.20;
}

h2 {
  font-size: 42px;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.center {
  text-align: center;
}

:root {
  --primary: #139B48;
  --primary-2: #A2CF6F;
  --secondary: #0B5D9E;
  --secondary-2: #5AB0B2;
  --dark: #081C1D;
  --darker: #0F3535;
  --light: #E2E2E2;
  --white: #FFFFFF;
  --white_5: rgba(255,255,255,.05);
  --white_10: rgba(255,255,255,.1);
  --white_25: rgba(255,255,255,.25);
  --white_50: rgba(255,255,255,.5);
  --red: #F16465;
  --orange: #E69255;
  --yellow: #E6BE54;
  --purple: #8F60A8;

  --border-radius: 10px;
  --border-radius-sm: 5px;

  --box-shadow: 0 3px 6px rgba(0,0,0,.15);

  --transition-in-out: all 0.3s ease-in-out;

}
